.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: top;
  align-items: top;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

[class^="col"] {
  flex-grow: 1;
  display: block;
  padding: 0 10px;
}

.col-0 { width: 0%; }
.col-10 { width: 10%; flex-basis: 10%; }
.col-20 { width: 20%; flex-basis: 20%; }
.col-25 { width: 25%; flex-basis: 25%; }
.col-30 { width: 30%; flex-basis: 30%; }
.col-33 { width: 33%; flex-basis: 33%; }
.col-40 { width: 40%; flex-basis: 40%; }
.col-50 { width: 50%; flex-basis: 50%; }
.col-60 { width: 60%; flex-basis: 60%; }
.col-66 { width: 66%; flex-basis: 66%; }
.col-70 { width: 70%; flex-basis: 70%; }
.col-75 { width: 75%; flex-basis: 75%; }
.col-80 { width: 80%; flex-basis: 80%; }
.col-90 { width: 90%; flex-basis: 90%; }
.col-100 { width: 100%; }

.col-200px { width: 200px; }
.col-400px { width: 400px; }

.left { float: left; }
.right { float: right; }
