<footer>
  <div class="container">
    <div class="row">
        <i class="icon-email"></i> &nbsp;Contact: meetup<span class="at"></span>victorlourng.com
  </div>
</footer>
<script type='text/javascript'>
  var site = {
    twitter_search: '#hshackers OR @hshackers -from:lablayers',
    github_language: 'JavaScript',
    github_login: 'hshackers',
    github_repo: 'philly',
    hashtag: '#hshackers'
  };
</script>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/underscore.js" async></script>
<script src="/js/skrollr.min.js" async></script>
<script src="/js/site.js" async></script>
</body>
</html>
